.card-img-wrapper{
   position: relative;
    overflow: hidden;
}
.card-img-top{
    position: relative;
}
.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 150px;
    opacity: .7;
}
.card img{
    transform:scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 150px;
    bottom :-1;
}

.member-icons{
    position:absolute;
    bottom: -40%;
    right:0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
.card-img-wrapper:hover .member-icons
{
    bottom:0 ;
}