<div class="card">
    <div class="card-img-wrapper">
    <img class="card-img-top" src="/assets/Image/download.jfif">
    <ul class="list-inline text-center member-icons">
        <li class="list-inline-item">
            <button class="btn btn-primary">E</button>
        </li> 
        <li class="list-inline-item">
            <button class="btn btn-primary">E</button>
        </li> 
    </ul>
</div>
    <div class="card-body p-2">
        <h5>{{Property.Id}}</h5>
        <h5>{{Property.Type}}</h5>
        <h5>{{Property.Price}}</h5>
        <h5>{{Property.Name}}</h5>
    </div>
</div>